@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap');
:root {
    --body-font: 'Poppins';
    --text-normal: 1rem;
    --text-small: .875rem;
    --text-smaller: .65rem;

    --color-border: #1a73e8;
    --color-bg:whitesmoke;
    --color-field:rgba(0, 0, 0, 0.041);
    --color-danger:rgb(235, 122, 122);

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f7f7f7;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    height: 100vh;
    border-radius: .5rem;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.users {
    padding: 2rem 2rem 1.5rem;
}

.users header,
.users-list a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 1.3rem;
}

.wrapper svg {
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.users-list {
    margin-top: 3rem;
}

:is(.users, .users-list) .content {
    display: flex;
    align-items: center;
}

.users header .content img {
    width: 50px;
    height: 50px;
}

.users header .content svg{
    height: 3.125rem;
    width: 3.125rem;
}

.profile {
    color: #000;
}

:is(.users, .users-list) .details {
    margin-left: 1rem;
    color: #000;
}

.profile,
:is(.users, .users-list) .details span {
    font-size: 1.1rem;
    font-weight: 500;
}

.users header .logout {
    color: #fff;
    background: #333;
    padding: .5rem 1rem;
    font-size: 1rem;
    text-decoration: none;
    border-radius: .5rem;
}

.users .search {
    position: relative;
    margin: 1.3rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.users .search .text {
    font-size: 1.1rem;
    
}

.cari {
    position: absolute;
    top: 0;
    left: 0;
    height: 42px;
    width: calc(100% - 40px);
    border: 1px solid #ccc;
    padding: 0 .85rem;
    font-size: 1rem;
    border-radius: .5rem 0 0 .5rem;
    outline: none;
}

.btn-cari {
    position: absolute;
    top: 0;
    right: 0;
    width: 47px;
    height: 42px;
    border: none;
    outline: none;
    color: #fff;
    background: #333;
    border-radius: 0 .5rem .5rem 0;
    cursor: pointer;
    font-size: .75rem;

}

.users-list {
    height: 21.85rem;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #e3e3e3 transparent;
    scrollbar-track-color: #1a73e8;
    scroll-behavior: smooth;
}

.users-list:-webkit-scrollbar-track {
    background: transparent;
  }

.users-list:-webkit-scrollbar,
.users-list::-webkit-scrollbar {
    width: 0px;
}

.users-list a {
    padding: 1rem;
    margin-bottom: calc(1rem - 1px);
    page-break-after: calc(1rem - 6px);
    border-bottom-color: #f1f1f1;
    
}

.users-list a:last-child {
    border: none;
    margin-bottom: 0;
}

.users-list a .content img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}
.users-list a .content p{
    color: #67676a;
}

.users-list a .status-dot {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background: #468669;
    border-radius: 50%;    
}

.users-list a .status-dot.offline {
    background: #ccc;
}

.notfound {
    text-align: center;
    padding: 5rem 0;
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
}

.chat-area header {
    display: flex;
    align-items: center;
    padding: 18px 30px;
}

.chat-area header .arrow {
    display: block;
    content: '';
    height: 0;
    width: 0;
    border-right: 15px solid #333;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.chat-area header img{
    height: 45px;
    width: 45px;
    margin: 0 15px;
    border-radius: 50%;
    border: 1px solid #333;
}

.chat-area header span {
    font-size: 17px;
    font-weight: 500;
}

.chat-box {
    height: 500px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #e3e3e3 transparent;
    scrollbar-track-color: #1a73e8;
    background: #fff;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgba(0, 0, 0, 0.15),
    inset 0 -32px 32px -32px rgba(0, 0, 0, 0.15);
}

.chat-box .chat {
    margin: 15px 0;
}

.chat-box .chat p {
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.158),
                0 16px 16px -16px rgba(0, 0, 0, 0.158);
}

.chat-box .outgoing {
    display: flex;
}

.outgoing .details {
    margin-left: auto;
    max-width: calc(100% - 130px);
}
.outgoing .details p{
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}

.chat-box .incoming {
    display: flex;
    align-items: flex-end ;
}
.chat-box .incoming img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid #333;
}

.incoming .details {
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 130px);
}
.incoming .details p{
    background: #fff;
    color: #333;
    border-radius: 18px 18px 18px 0;

}

.chat-area .typing-area {
    padding: 18px 30px;
    display: flex;
    justify-content: center;
}

.typing-area input {
    height: 45px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.typing-area button {
    width: 55px;
    border: none;
    outline: none;
    background: #333;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}