@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap');
:root {
    --body-font: 'Poppins';
    --text-normal: 1rem;
    --text-small: .875rem;
    --text-smaller: .65rem;

    --color-border: #1a73e8;
    --color-bg:whitesmoke;
    --color-field:rgba(0, 0, 0, 0.041);
    --color-danger:rgb(235, 122, 122);

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--color-bg);
    font-family: var(--body-font);
}

.card {
    min-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 500;
    margin-bottom: 3rem;
}

.form-control {
    width: 350px;
    padding: 2.5rem 2rem;
    border-radius: .5rem;
    background: var(--color-bg);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .35),
        inset 10px 10px 25px rgba(255, 255, 255, 1);
}

.field {
    position: relative;
}

.form-input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: .5rem;
    background: var(--color-field);
    margin-bottom: 1rem;
    font-size: var(--text-small);
    font-family: var(--body-font);
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    z-index: 1;
    transition: border-bottom .2s ease,
        border-right .2s ease .1s,
        border-top .2s ease .2s,
        border-left .2s ease .3s;
}

.form-label {
    position: absolute;
    top: .5rem;
    left: 1rem;
    font-size: var(--text-normal);
    font-weight: 300;
    transition: .3s ease;
}

.form-input:focus {
    background: none;
    border-color: var(--color-border);
}

.form-input:focus+.form-label {
    top: -.5rem;
    left: .8rem;
    font-size: .75rem;
    font-weight: 500;
    background: var(--color-bg);
    padding: 0 5px;
}

.form-input:not(:placeholder-shown).form-input:not(:focus) {
    background: none;
    border-color: var(--color-border);
}

.form-input:not(:placeholder-shown).form-input:not(:focus)+.form-label {
    top: -.5rem;
    left: .8rem;
    background: var(--color-bg);
    color: var(--color-border);
    font-size: .75rem;
    font-weight: 500;
    padding: 0 5px;
    z-index: 10;
}

.form-input.is-invalid {
    background: none;
    border-color: var(--color-danger);
}

.form-input.is-invalid+ .form-label,
.form-input:focus.is-invalid+ .form-label {
    color: var(--color-danger);
    font-style: italic;
}

.form-input:not(:placeholder-shown).is-invalid.form-input:not(:focus).is-invalid {
    background: none;
    border-color: var(--color-danger);
}

.form-input:not(:placeholder-shown).is-invalid.form-input:not(:focus).is-invalid+ .form-label {
    color: var(--color-danger);
    font-style: italic;
}

.invalid-feedback {
    display: flex;
    display: none;
    flex-direction: column;
    margin-bottom: .85rem;
}

.invalid-feedback.show {
    display: flex;
}

.error-icon {
    position: absolute;
    color: var(--color-danger);
    font-size: var(--text-small);
    font-weight: 600;
    right: .8rem;
    top: .5rem;
}

.error-message {
    position: absolute;
    top: 2.75rem;
    right: .8rem;
    font-style: italic;
    font-size: var(--text-smaller);
    color: var(--color-danger);
}

button {
    width: 100%;
    border: none;
    background: var(--color-border);
    border-radius: 5px;
    padding: .5rem 2rem;
    color: #fff;
    font-size: var(--text-normal);
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

button:focus {
    outline: none;
    letter-spacing: 2px;
}

button:focus,
button:hover {
    background: #0748b1;
}

.flash {
    position: absolute;
    top: 2%;
    left: 40%;
    background: linear-gradient(110deg, rgba(1, 99, 255, 0.09), transparent);
    border-top: 2px solid rgba(0, 0, 0, 0.112);
    border-right: 2px solid rgba(0, 0, 0, 0.112);
    border-radius: .5rem;
    padding: .75rem 3rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.41);
}

.fls-txt {
    color: rgb(4, 14, 110);
}